.card{
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: blue;
    padding-bottom: 40px;
}

.button {
    border: none;
    outline: none;
    background-color: #3a3a3a;
    width: 180px;
    height: 60px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 106%;
    height: 120%;
    z-index: -1;
    border-radius: inherit;
    transition: all 0.3s;
  }
  
  .gradient-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 106%;
    height: 115%;
    overflow: hidden;
    border-radius: inherit;
    z-index: -2;
    filter: blur(10px);
    transition: all 0.3s;
  }
  
  .gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    aspect-ratio: 1;
    border-radius: 100%;
    transition: all 0.3s;
    background-image: linear-gradient(
      90deg,
      hsl(226, 81%, 64%),
      hsl(271, 81%, 64%),
      hsl(316, 81%, 64%),
      hsl(1, 81%, 64%),
      hsl(46, 81%, 64%),
      hsl(91, 81%, 64%),
      hsl(136, 81%, 64%),
      hsl(181, 81%, 64%)
    );
    animation: rotate 2s linear infinite;
    filter: blur(10px);
  }
  
  .label {
    width: 156px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 22px;
    background-color: rgba(43, 43, 43, 1);
    background-image: linear-gradient(
      180deg,
      rgb(43, 43, 43) 0%,
      rgb(68, 68, 68) 100%
    );
  }
  
  .button:hover .gradient-container {
    transform: translate(-50%, -50%) scale(0.98);
    filter: blur(5px);
  }
  
  .button:hover .gradient {
    filter: blur(5px);
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  /* From Uiverse.io by rricol */ 
.input {
    position: relative;
    max-width: 190px;
    border: none;
    box-shadow: 0px 1.5px 0px 0px #858585;
    padding: .5rem;
    transition: all 200ms ease-in-out;
    opacity: .8;
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
  }
  
  .input-label {
    font-size: .625rem;
    font-weight: bold;
    color: #858585;
    margin-bottom: 4px;
    margin-left: 1px;
  }
  
  .input-helper {
    color: #858585;
    font-size: .5rem;
    margin-top: 6px;
    margin-left: 1px;
    visibility: hidden;
    transform: translateY(-.5rem);
    transition: all 100ms linear;
    z-index: -1;
  }
  
  .input::placeholder {
    color: rgb(145, 145, 145);
    font-size: .75rem;
  }
  
  .input::after {
    content: attr(placeholder);
    position: absolute;
    color: #161616;
    top: 0;
    left: 0;
  }
  
  .input:focus {
    border: none;
    box-shadow: 0px 1.5px 0px 0px #72E985;
    outline: none;
  }
  
  .input:focus + .input-helper {
    visibility: visible;
    transform: translateY(0rem);
  }
  
  .input:focus::placeholder {
    visibility: hidden;
  }

.password {
    outline: none;
    max-width: 190px;
    padding: 8px;
    background-color: #d4cbcb;
    border-radius: 12px;
    border: 4px solid #000000;
    width: auto;
    font-weight: bold;
    font-style: italic;
  }
  
  .password:hover {
    background-color: #6ad5f0;
    outline: none;
    border: 4px solid #000000;
  }

  .section-4 input{
    margin: 0 auto;
    margin-top: 30px;
  }

  .section-4{
    margin-bottom: 100px;
  }

 

 .footer__inner{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 20px;
 }

 .footer__text{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
 }
  
 @media (max-width:1200px){
    .footer{
        display: none;
    }
 }

